:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
.input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.search-form {
  background-color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.load-more {
  display: block;
  margin: 0 auto;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.photo {
  display: block;
  height: auto;
  max-width: 100%;
  width: 372px;
  height: 250px;
}
.photo-card {
  position: relative;
  margin-bottom: 10px;

  object-fit: cover;
  transform: scale(0.9);
  transition-duration: 300ms;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: grid;
  align-items: end;
}
.info {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: rgb(227, 226, 226);
  display: grid;
  grid-template-columns: repeat(4, 68px);
  grid-auto-columns: 290px;
  justify-content: space-around;
  text-align: center;
  font-size: 15px;
  font-family: cursive;
}

.info-item:not(:last-child) {
  margin-right: 10px;
}

.photo-card:hover,
.photo-card:focus {
  transform: scale(1);
  transition: transform var(--animation-duration) var(--timing-function);
}
.last-notification {
  font-size: 15px;
  font-family: cursive;
  text-align: center;
}
